.main{
    height: 2000px;
    background-color: #edf3a4;
    background-image: url(/assets/green-farm-landscape-powerpoint-background.jpg);
    background-size: 100%  30%;
    background-repeat:no-repeat;

}
.main img{
    opacity: 0.5;
}