.order{
    box-sizing: border-box;
    width:50%;
    height: 60%;
    margin: 2.5% 25%;
    background-color:rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:10px;
    color: #edf3a4;  

}
.order img{
    height: 70%;
    width: 90%;
    padding-top: 5%;
    padding-left: 5%;
}
.order h2{
    margin:0;
    padding-top: 5%;
    padding-left: 5%;
}
.order p{
    padding-left: 5%;
}
.order label{
    padding-left: 5%;
    padding-right: 5%;
}
.order input{
    height: 40Px;
}
.order output{
    padding-left: 5%;
}
.order button{
    height: 40px;
    width:100px;
    margin: 10px;
    margin-right: 5%;
    border-radius: 5px;
    float:right;
    background-color: #a4ba4a;
    color: #ededdc;
    border:none;
}
.order button:hover{
    background-color: #9f7039;
    cursor:pointer;
    /* margin: 15px; */
    /* margin-top: 50px; */
}
