.my-order-list{
    box-sizing: border-box;
    width:40%;
    height: 80%;
    margin: 2.5% 30%;
    background-color:rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:10px;
    color: #edf3a4;  

}
.my-order-list .header{
    /* background-color: #122d17; */
    height: 60px;
}

.my-order-list .header label{
    margin: 0px;
    padding: 20px 40px;
    color: white;
    float: left;
    width:40px;
}